includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    # Level 9 is the highest level
    level: 6
    paths:
        - app/
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Support\\HigherOrder#'
#       - '#Call to an undefined method Illuminate\\Support\\HigherOrder#'
